body{

    margin:0;

    background:linear-gradient(180deg,#02040a,#081325,#0f1f38);

    color:silver;

    font-family:Georgia,serif;

    text-align:center;

    overflow-x:hidden;

}

#welcome{

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

h1{

    font-size:60px;

    color:white;

    text-shadow:0 0 20px silver;

}

p{

    font-size:22px;

    font-style:italic;

}

button{

    margin-top:30px;

    padding:18px 40px;

    font-size:20px;

    border:none;

    border-radius:40px;

    background:#102347;

    color:white;

    cursor:pointer;

    transition:0.4s;

}

button:hover{

    background:white;

    color:#081325;

    transform:scale(1.08);

}

#library{

    display:none;

    padding:60px;

}

.book{

    width:280px;

    margin:25px auto;

    padding:25px;

    background:#122445;

    border:1px solid silver;

    border-radius:18px;

    font-size:22px;

    cursor:pointer;

    transition:0.4s;

}

.book:hover{

    transform:translateY(-10px);

    box-shadow:0 0 30px silver;

}.book{

    width:220px;

    height:300px;

    margin:40px auto;

    perspective:1000px;

}

.cover{

    width:100%;

    height:100%;

    background:linear-gradient(#122445,#081325);

    border:2px solid silver;

    border-radius:10px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:24px;

    text-align:center;

    transition:0.8s;

    transform-style:preserve-3d;

    box-shadow:0 0 25px rgba(255,255,255,0.2);

}

.book:hover .cover{

    transform:rotateY(-25deg) rotateX(5deg);

    box-shadow:25px 15px 40px rgba(0,0,0,0.6);

}
