body{
    background:#050814;
    color:silver;
    font-family:Georgia, serif;
    text-align:center;
    padding:50px;
}

h1{
    color:white;
    text-shadow:0 0 15px silver;
}

button{
    background:#0b1a33;
    color:silver;
    border:1px solid silver;
    padding:15px 30px;
    border-radius:30px;
    cursor:pointer;
}

button:hover{
    background:silver;
    color:#050814;
}
.book{

    background:#0b1a33;

    border:1px solid silver;

    margin:15px auto;

    padding:20px;

    max-width:300px;

    border-radius:15px;

    transition:0.4s;

}


.book:hover{

    transform:scale(1.05);

    box-shadow:0 0 20px silver;

}
#bookPage{

    margin-top:40px;

    padding:30px;

    border:1px solid silver;

    border-radius:20px;

    display:none;

    background:#111827;

}
